torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
soundfile
numpy==1.26
torch_audiomentations
tqdm
matplotlib
pandas
comet_ml
hydra-core
torchmetrics
datasets==2.15.0
torchcodec==0.1.0
pyctcdecode
sentencepiece
transformers

wget
black
isort
pre-commit
