defaults:
  - model: conformer_M_bpe
  - writer: cometml
  - metrics: inference_universal
  - datasets: inference
  - dataloader: librispeech
  - transforms: base_augs
  - _self_

text_encoder:
  _target_: src.text_encoder.BPETextEncoder
  model_path: "bpe_model.model"


inferencer:
  device_tensors: ["spectrogram", "spectrogram_length", "text_encoded"]
  device: auto
  save_path: "librispeech_predictions"
  seed: 1
  from_pretrained: "saved/testing/model_best.pth"
  save_dir: "saved"
  run_name: "librispeech_inference"
  decode_method: "beam_search_lm"  # "argmax", "beam_search", or "beam_search_lm"
  beam_width: 1000
  lm_path: "librispeech-4-gram"
  lm_alpha: 0.4
  lm_beta: 0.6
  log_results: true
  examples_to_log: 20
